<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>微信预警</title>
  <script type="text/javascript" src="//cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="//static.runoob.com/assets/qrcode/qrcode.min.js"></script>
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }

    /*去掉页面样式，通用选择器*/
    body {
      color: white;
      background: #CCCCCC;
    }
    /*标签选择器*/
    .context {
      background: #50A3A2;
      position: absolute;
      left: 0;
      top: 50%;
      width: 100%;
      height: 400px;
      margin-top: -200px;
      overflow: hidden; /*隐藏滚动条*/
      text-align: center;
    }
    .qrCode{
      margin: 150px auto;
    }
    .button{
      padding: 0px 15px;
    }

  </style>
</head>
<body>


<input id="text" hidden="hidden" type="text" th:value="${ticketUrl}" style="width:80%" /><br />
<div class="context">
  <p>扫描二维码，并点击确定按钮</p>
  <div class="qrCode" id="qrCode" style="width:200px; height:100px; margin-top:15px;"></div>
  <!--<a class="login_link"  href="http://du299j.natappfree.cc/rediectSend" >确定-->
  <!--</a>-->
  <button class="button" onclick="redirect()">确定</button>
  <input type="hidden" th:value="${staff_name}" id="staff_name2"/>
</div>
<script th:inline="javascript">
  var flag=$("#staff_name2").val();
  var qrcode = new QRCode(document.getElementById("qrCode"), {
    render: 'canvas',
    width : 200,
    height : 200
  });
  function makeCode () {
    var elText = document.getElementById("text");
    qrcode.makeCode(elText.value);
  }
  makeCode();

  function redirect() {
    $.get(window.location.origin+"/redirectSend", function(result){
      if(flag.toString()=="false"){
        alert("请扫码关注再点确定按钮")
      }else {
        window.location.href=window.location.origin+"/redirectSend"
      }
    });
  }


</script>
</body>
</html>